@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1648120112317') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geren:before {
  content: "\e606";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-dianpu:before {
  content: "\e60b";
}

.icon-kefu:before {
  content: "\ec2e";
}

